<!DOCTYPE html>
<html>

<head>
  <title>Motorsport Event Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif
    }
  </style>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
        title="close menu">
        <i class="fa fa-remove"></i>
      </a>

      <h4><b>PROFILE</b></h4>
      <p class="w3-text-grey">
        <tr>
          <td>Name: </td>
          <td><%= name %></td>
        </tr><br>
        <tr>
          <td>Email: </td>
          <td><%= email %></td>
        </tr>
      </p>
    </div>

    <div class="w3-panel w3-large">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <div> <a href="/logout" class="w3-button w3-teal w3-padding-large w3-hover-black">Log Out</a></div>
  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;">

    <!-- Header -->
    <header id="portfolio">
      <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
          class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
          class="fa fa-bars"></i></span>
      <div class="w3-container" style="background-image:url('views/images/flag.jpg')">
        <h1><b>Available Events</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          <span class="w3-margin-right">Filter:</span>
          <button class="w3-button w3-black">ALL</button>
          <a href="/propose"> <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Propose
              Event</button></a>
          <a href="/location"> <button class="w3-button w3-white"><i
                class="fa fa-diamond w3-margin-right"></i>Locate</button></a>

          <!-- new table -->
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

          <table id="myTable">
            <tr class="header">
              <th style="width:30%;">Event Name</th>
              <th style="width:30%;">Username</th>
              <th style="width:30%;">Venue</th>
              <th style="width:30%;">Date</th>
              <th style="width:40%;">Action</th>
            </tr>
            <% if(locals.events){%>
            <% for(let event of events){%>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.username %></td>
              <td><%= event.venue%></td>
              <td><%= event.date%></td>
              <td>
                <form method="post" action="/home/<%= event._id %>">
                  <input type="submit" value="Join!">
                </form>
              </td>
            </tr>
            <% } %>
            <% } %>
          </table>

          <!-- <table id="myTable">
        <tr class="header">
          <th style="width:60%;">Event Name</th>
          <th style="width:40%;">Username</th>
        </tr>
        <p><b>Event</b></p>
        <% if(locals.events){%>
          <% for(let event of events){%>
            <div class="w3-container w3-white w3-margin-bottom" style="margin: 2px;">
              
              <form method="POST" action="">
                <input type="hidden" name="eventId" value="<%=event._id%>" >
                <div class="w3-container w3-white" style="margin: 1em;">
                  <p>Event Name:<%= event.name%></p>
                  <p>Username:<%= event.username%></p>
                  <p>Event Name:<%= event.venue%></p>
                  <p>Event Name:<%= event.date%></p>
                  <input type="submit" value="Join!">
                </div>
              
              </form>
            </div>

            <tr>
              <td><%= event.name %></td>
              <td><%= event.username %></td>
            </tr>
          <% } %>
        <% } %>
      </table> -->
          <!-- END SEARCH -->

        </div>
      </div>
    </header>

    <!-- First Photo Grid-->

    <!-- <% if(locals.events){%>
    <% for(let event of events){%>
    <form method="POST" action=""></form>
    <input type="hidden" name="eventId" value="<%=event._id%>">
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <p><b><%= event.name %></b></p>
        <p><b><%= event.username %></b></p>
        <p><b><%= event.venue %></b></p>
        <p><b><%= event.date %></b></p>
        <input type="submit" value="Join!">
      </div>
    </div>
    </form>
    <% } %>
    <% } %> -->

    <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>

    <!-- Second Photo Grid-->
    <!-- <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div> -->

    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>

    <div class="w3-black w3-center w3-padding-24">
      Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
        class="w3-hover-opacity">w3.css</a>
    </div>

    <!-- End page content -->
  </div>

  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>

</body>
<style>
  #myInput {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
  }

  #myTable {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
  }

  #myTable th,
  #myTable td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
  }

  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }

  #myTable tr.header,
  #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
</style>

</html>